name: CI

on: [push, pull_request]

jobs:
  check-files:
    name: Check files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Get Nixpkgs path
        run: |
          nixpkgs_path=$(nix eval --raw -f npins/default.nix nixpkgs)
          echo "NIX_PATH=nixpkgs=$nixpkgs_path" >> "$GITHUB_ENV"
      - name: Check nix files
        run: nix-shell --run "treefmt --ci"
      - name: Check emitted shell scripts
        run: |
          nix-shell ./example --run "which supervisord | xargs shellcheck"
          nix-shell ./example --run "which supervisorctl | xargs shellcheck"
          nix-shell ./example --run "which supervisord-kill | xargs shellcheck"

  test-example:
    name: Test example
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Get Nixpkgs path
        run: |
          nixpkgs_path=$(nix eval --raw -f npins/default.nix nixpkgs)
          echo "NIX_PATH=nixpkgs=$nixpkgs_path" >> "$GITHUB_ENV"
      - name: Build example
        run: nix-build ./example
      - name: Run example
        run: |
          nix-shell ./example --run "
          set -ex
          env | grep -e '^SUPERVISORD_PROJECT'
          env | grep -e '^SUPERVISORD_ROOT'
          env | grep -e '^SUPERVISORD_RUN'
          env | grep -e '^SUPERVISORD_DATA'
          env | grep -e '^SUPERVISORD_LOG'
          supervisord
          sleep 5
          mkdir testing && cd testing
          supervisorctl status
          curl -s http://supervisord.localhost:8080 | grep -q "Mailpit"
          supervisord-kill
          set +x
          "

  create-npins-example:
    name: Create example with npins
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Create project
        run: |
          mkdir npins-example && cd npins-example
          nix-shell -p npins --run "npins init"
          nix-shell -p npins --run "npins add github deadbaed nix-supervisord -b ${{ github.ref }} --at ${{ github.sha }}"
          cat << 'EOF' >> shell.nix
          {
            sources ? import ./npins,
            pkgs ? import sources.nixpkgs { },
            supervisord ? import sources.nix-supervisord { inherit pkgs; },
          }:
          let
            project_name = "my_project";
            paths = supervisord.mkPaths { };
            programs = [
              # https://mailpit.axllent.org
              (
                let
                  name = "mailpit";
                  config = {
                    inherit name;
                    command = "${pkgs.mailpit}/bin/mailpit --db-file ${paths.path.data}/${name}/db.sqlite --disable-version-check";
                    environment = {
                      MP_LABEL = "${project_name}";
                    };
                    pre_commands = [
                      "echo \"about to launch mailpit\""
                      "echo \"please standby...\""
                    ];
                  };
                in
                config
              )
            ];
            supervisordProject = supervisord.mkSupervisor { inherit project_name paths programs; };
          in
          pkgs.mkShellNoCC {
            packages = [
              pkgs.npins
              supervisordProject.supervisord-wrapper
              supervisordProject.supervisorctl-wrapper
              supervisordProject.supervisord-kill
            ];
            shellHook = supervisordProject.shellHook;
          }
          EOF
      - name: Run example
        run: |
          nix-shell ./npins-example --run "
          set -ex
          env | grep -e '^SUPERVISORD_PROJECT'
          env | grep -e '^SUPERVISORD_ROOT'
          env | grep -e '^SUPERVISORD_RUN'
          env | grep -e '^SUPERVISORD_DATA'
          env | grep -e '^SUPERVISORD_LOG'
          supervisord
          sleep 5
          mkdir testing && cd testing
          supervisorctl status
          supervisord-kill
          set +x
          "
